// $ash-gray: #9BC1BC;
$light-mint: #D1FFD7;
$cadet-blue: #93B7BE; //light-blue
$lapiz-lazuli: #376996;
$french-gray: #C5CBD3; //light-gray
$papaya-whip: #FDF0D5; //cream
$gray: #7C7C7C;
$white-smoke: #F1EDEE;


body {
    background-color: $french-gray;
}

h2 {
    color: $gray;
    margin-top: -1px;
    margin-bottom: -2px;
}

.profile-pic {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2 );
}

.card-footer {
    display: flex;
    align-items: center;
    position: relative;
    width: 45%;
    margin: auto;
}

.socials {
    color: $lapiz-lazuli;
    text-decoration: none;
    margin: auto;
    transition: color 0.2s ease;
//transition & transition-delay with ease create a slight delay for transition
    &:hover {
        color: $cadet-blue;
        transition-delay: 0.2s ease;
    }
}


.font-comfortaa {
    font-family: "Comfortaa", cursive;
    font-size: 14px;
}
